*{margin:0;padding:0;box-sizing:border-box}
html{scroll-padding-top:100px-}
.home{background-image:url(../Images/hero-bg.jpg);background-size:cover;height:100vh;font-family:"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"}
:root{--defualtColor:white;--defualtbackground:white;color:var(--defualtColor);background-color:var(--defualtbackground)}
li{color:var(--defualtColor);text-decoration:none;display:inline-block;padding:10px 0 10px 30px}
a{color:var(--defualtColor)!important;text-decoration:none!important}
h1,h2,h3,h4,h5,h6,p{color:var(--defualtColor)}
.max-w{max-width:500px}
.section__title h2{font-weight:700;font-size:3rem}
.section__title p{color:#4e4e4e;position:relative;margin-bottom:10px}
.section__title__underline{background-color:#0078ff;height:5px;width:40px;margin:auto}
.navbar{background-color:#000;padding:0 20px!important;position:fixed;width:100%;z-index:9999}
.home__nav li a{font:size 16px;font-weight:600;text-transform:uppercase}
.home__nav li{position:relative}
.home__nav li a::after{content:"";width:0;height:2px;background-color:#fff;position:absolute;left:20px;bottom:-3px;transition:all 1s}
.home__nav li a:hover::after{width:100%;width:100%}
.home__nav li a .active a::after{width:100%;width:100%}
.home__logo{padding:10px 0 10px 30px}
.home__logo a{font-size:28px}
.home__info h1{font-size:50px;font-weight:600}
.home__info p{color:var(--defualtColor);text-align:center}
.home__info h2::after{content:"|";animation:typing;animation-duration:5s;animation-iteration-count:infinite}
@keyframes typing{
5%{content:"Desi"}
10%{content:"Design"}
15%{content:"Designer"}
20%{content:"|"}
25%{content:"Dev"}
30%{content:"Devo"}
40%{content:"Devolo"}
45%{content:"Devolop"}
50%{content:"Devolope"}
55%{content:"Devoloper"}
60%{content:"|"}
65%{content:"|"}
70%{content:"fr"}
75%{content:"free"}
80%{content:"freela"}
85%{content:"freelanc"}
90%{content:"freelancer"}
95%{content:"|"}
100%{content:"|"}
}
.About p{margin-bottom:15px!important;color:#6c757d!important;font-size:20px;font-weight:300}
.About p span{color:#000!important;font-size:16px;font-weight:600}
.About h2{color:#000;position:relative}
.About h2::after{content:"";width:20%;height:3px;background-color:#0078ff;position:absolute;color:#000;bottom:-1px;left:0}
.progress{border-radius:0;height:10px}
.skills h4{color:#000}
.services h4,h2,p{color:#000}
.service__box{text-align:center;border-radius:2rem}
.service__box i{color:#000;font-size:30px;padding:20px!important}
.service__box .icon{border:6px solid #0078ff;border-radius:50%;height:120px;width:120px;margin:auto;margin-bottom:20px;transition:all .5s}
.service__box .icon:hover{background-color:#0078ff;border-color:#cde1f8}
.service__box .icon:hover i{color:#fff!important}
.counter{background-attachment:fixed;background-image:url(../Images/counters-bg.jpg);width:100%;height:400px;position:relative;background-size:cover}
.counter .counter__layer{background-color:rgba(0,120,255,.7);position:absolute;width:100%;height:100%}
.counter .counter__layer h2,i,span{color:#ffff!important}
.counter .counter__icons{border:10px solid #cde1f8;border-radius:50%;height:100px;width:100px;margin:auto}
.counter .counter__icons i{font-size:30px;padding:15px;color:#fff!important}
.counter__details{color:#fff!important}
.counter .workComplete h2::after{content:"450";animation:workCompletecounter;animation-duration:1s}
@keyframes workCompletecounter{
5%{content:"20"}
10%{content:"30"}
15%{content:"60"}
20%{content:"70"}
25%{content:"90"}
30%{content:"130"}
40%{content:"150"}
45%{content:"190"}
50%{content:"210"}
55%{content:"230"}
60%{content:"260"}
65%{content:"290"}
70%{content:"300"}
75%{content:"320"}
80%{content:"350"}
85%{content:"370"}
90%{content:"400"}
95%{content:"420"}
100%{content:"450"}
}
.counter .experince h2::after{content:"25";animation:experincecounter;animation-duration:1s}
@keyframes experincecounter{
5%{content:"1"}
10%{content:"3"}
15%{content:"5"}
20%{content:"7"}
25%{content:"9"}
30%{content:"10"}
40%{content:"11"}
45%{content:"14"}
50%{content:"15"}
55%{content:"15"}
60%{content:"17"}
65%{content:"18"}
70%{content:"19"}
75%{content:"20"}
80%{content:"21"}
85%{content:"22"}
90%{content:"23"}
95%{content:"24"}
100%{content:"25"}
}
.counter .clints h2::after{content:"550";animation:clintscounter;animation-duration:1s}
@keyframes clintscounter{
5%{content:"20"}
10%{content:"30"}
15%{content:"40"}
20%{content:"50"}
25%{content:"60"}
30%{content:"70"}
40%{content:"80"}
45%{content:"100"}
50%{content:"150"}
55%{content:"200"}
60%{content:"250"}
65%{content:"300"}
70%{content:"350"}
75%{content:"400"}
80%{content:"450"}
85%{content:"455"}
90%{content:"500"}
95%{content:"520"}
100%{content:"550"}
}
.counter .award h2::after{content:"48";animation:awardcounter;animation-duration:1s}
@keyframes awardcounter{
5%{content:"5"}
10%{content:"10"}
15%{content:"12"}
20%{content:"15"}
25%{content:"20"}
30%{content:"25"}
40%{content:"28"}
45%{content:"30"}
50%{content:"33"}
55%{content:"35"}
60%{content:"40"}
65%{content:"41"}
70%{content:"42"}
75%{content:"43"}
80%{content:"45"}
85%{content:"46"}
90%{content:"47"}
95%{content:"48"}
100%{content:"48"}
}
.portfolio .picture{overflow:hidden}
.portfolio img{width:100%;transition:transform 1s}
.portfolio .picture:hover img{transform:scale(1.3)}
.portfolio h5,.portfolio__span{color:#000}
.portfolio .portfolio__webDesign{color:#0078ff}
.portfolio__btn{border:3px solid #0078ff;width:50px;height:50px;border-radius:50%;margin:0;text-align:center}
.portfolio__btn i{color:#0078ff!important;font-size:20px}
.slider{background-attachment:fixed;background-image:url(../Images/overlay-bg.jpg);width:100%;height:500px;position:relative;background-size:cover}
.slider .slider__layer{background-color:rgba(0,120,255,.7);position:absolute;width:100%;height:100%}
.slider__Content p,h2{color:#fff!important}
.carousel-indicators [data-bs-target]{border-radius:50%;border-bottom:none;border-top:none;width:10px;height:10px}
.blog__Pic img{width:100%}
.blog__Pic{position:relative}
.blog__box{width:100%}
.blog a{color:#000!important;font-weight:600}
.blog a,i,p,span{color:#4e4e4e!important}
.blog .blog__footer{background-color:rgba(33,37,41,.03);padding:3px;border-top:1px solid rgba(33,37,41,.2)}
.blog .blog__footer img{border-radius:50%;width:30px}
.blog a:hover{color:#0078ff!important}
.blog__overly{display:inline-block;color:#fff;padding:0 15px 5px;overflow:hidden;background-color:#0078ff;border-radius:4px;bottom:-10px;position:absolute;z-index:2;left:50%}
.blog__overly span{color:#fff!important;display:inline-block;text-transform:uppercase;font-size:.7rem;letter-spacing:.1px;margin-bottom:0}
.contact{background-attachment:fixed;background-image:url(../Images/overlay-bg.jpg);width:100%;height:800px;position:relative;background-size:cover}
.contact .contact__layer{background-color:rgba(0,120,255,.7);position:absolute;width:100%;height:100%}
.contact__title h2{color:#000;position:relative}
.contact__title h2::after{content:"";width:20%;height:3px;background-color:#0078ff;position:absolute;color:#000;bottom:-1px;left:0}
.btn_Send{background-color:#0078ff;color:#fff;border-radius:20px;margin:auto;padding:10px}
.btn_Send:hover{content:"";border:4px solid #cde1f8}
.contact .getInTouch ul{margin:0;padding:0}
.contact .getInTouch ul li{display:block;color:#000;margin:0;padding:10 0}
.contact .getInTouch ul li i{color:#0078ff!important;padding-right:10px}
.contact .getInTouch .socialicons li{display:inline-block}
.contact .getInTouch .socialicons .iconborder{border:4px solid #0078ff;border-radius:50%;width:40px;height:40px;text-align:center}
.contact .getInTouch .socialicons li i{color:#000!important;font-size:20px;text-align:center;padding:5px;transition:all .5s}
.contact .getInTouch .socialicons li i:hover{background-color:#0078ff;color:#fff!important;border-color:#cde1f8}
footer{text-align:center;color:#fff;padding:25px 0;background:#0062d3}
footer p{color:#fff!important}